<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Weekly Discover Back-up Success Page</title>
    
</head>
<body>

    <div class="container">
        <h1>Sorry we were unable to backup your playlist</h1>
        <p><br>
            Your playlist was unable to be located.<br>
            Please ensure your Discover Weekly Playlist has been recently added to your library.<br><br>
            For more information on permissions and how it works, please check out my <a href="https://github.com/kedfree">GitHub</a> page.
        </p>
    </div>

</body>
</html>
