<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Weekly Discover Back-up</title>

</head>
<body>

    <div class="container">
        <h1>Welcome to Discovery Weekly Backup!</h1>
        <!-- Recieves authorization link from the function call -->
        <a href="{{a_url}}" class="button">Please Login Here</a>
        <br>
        <p><br></nr>After logging into Spotify, a new playlist will be created.<br>
            For more information on permissions and how it works, please check out my <a href="https://github.com/kedfree">GitHub</a> page.
        </p>
    </div>

</body>
</html>
